.docket-pin {
  font: normal 12px/1 Arial, sans-serif !important;
  box-sizing: border-box !important;
  position: absolute !important;
  display: inline-block !important;
  text-align: center !important;
  color: #fff !important;
  padding: 4px 3px !important;
  height: 19px !important;
  min-width: 19px !important;
  border-radius: 50% !important;
  background-color: #fe0000 !important;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, .4) !important;

  &.right-top {
    top: -11px;
    right: -11px;
  }

  &.right-bottom {
    bottom: -11px;
    right: -11px;
  }

  &.left-bottom {
    bottom: -11px;
    left: -11px;
  }

  &.left-top {
    top: -11px;
    left: -11px;
  }
}